<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gravis Technologies</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset-min.css">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/sitejs.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.stellar.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/waypoints.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
	<script src="{{ STATIC_URL }}js/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

	{% block extra_head %}
	{% endblock %}
</head>

<body>
	<div class="navbar">
		<div class="landing-logo">
			<img src="{{ STATIC_URL }}img/gravislogo.png">
			<h1>gravis</h1>
		</div>
		<ul class="navigation">
			<li data-slide="1">Home</li>
			<li data-slide="2">Technology</li>
			<li data-slide="4">Portfolio</li>
			<li data-slide="3">Contact</li>
		</ul>
	</div>
	

	{% block content %}
	{% endblock %}

</body>
<footer>
	<div class="copyright">
		<p><small>© 2014 Gravis Software Technologies</small></p>
	</div>
</footer>
</html>