{% extends "index.html" %}

{% block content %}
	<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio=".6">
		<div class="company-logo"></div>
		<div id="gravheading" data-stellar-ratio=".5">
			<h2 id="logo">Engineering web and mobile solutions <br> with <span id="rotate">this</span></h2>
			<br>
			<hr>
			<h3>We are a passionate team of software engineers who can efficiently develop web and mobile applications.</h3>
		</div>
	</div><!--End Slide 1-->

	<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
		<div id="tech-content">
			We use different kinds of mobile and web technologies.
		</div>
		<hr WIDTH="80%">
		<span class="slideno">Technology</span>
		<div class="masonry js-masonry" data-masonry-options='{ "itemSelector": ".item", "columnWidth": 200, "gutter": 40, "isFitWidth": true }' id="techs">
			{% for technology in technologies %}
				<div class="item">
					<img src="{{ STATIC_URL }}{{ technology.techImage.name }}" class="mason-img">
				</div>
			{% endfor %}
		</div>
		<a class="button" data-slide="3" title=""></a>
	</div><!--End Slide 2-->
	<div class="slide" id="slide6" data-slide="5" data-stellar-background-ratio=".3">
		<div id="slide6-content">
			We are a young talented team of software engineers capable enough of providing intelligent online business solutions wherever you are around the globe.
		</div>
	</div>
	<div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0">
		<div id="projects-heading">
			<h2>Here are some of our works:</h2>
		</div>
		<div class="masonry" data-masonry-options='{ "itemSelector":".project-masonry-item","columnWidth":150,"gutter":30,"isFitWidth":true }' id="projects-container">
			{% for project in projects %}
				<div class="project-masonry-item">
					<img src="{{ STATIC_URL }}{{ project.projectImage.name }}">
					<hr WIDTH="100%">
					<div class="project-item-title">
						<a href="{{ project.projectUrl }}">{{ project.projectName }}</a>
					</div>
					<div class="project-item-description">
						<p><small>{{ project.projectDescription }}</small></p>
					</div>
				</div>
			{% endfor %}
		</div>
		<span class="slideno">Works</span>
		<span class="parallaxbg"></span>
	</div><!--End Slide 4-->
	<div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
		<div id="contact-form">
			<h2>Feel free to communicate with us!</h2>
			<div class="contact">
				<form action="" method="POST">
					{% csrf_token %}
					<!--{{ contact_form.as_p }}-->
					<p class="contact-form-items">
						<input id="id_name" maxlength="100" name="name" type="text" placeholder="name"/>
					</p>
					<p class="contact-form-items">
						<input id="id_email" maxlength="200" name="email" type="email" placeholder="email"/>
					</p>
					<p class="contact-form-items">
						<textarea cols="40" id="id_body" name="body" rows="10" placeholder="Write your message here.."></textarea>
					</p>
					<div id="submit-button">
						<p>Submit</p>
					</div>
					<input id="submit" type="submit" value="Submit" HIDDEN>
				</form>
			</div>
			
		</div>
		<div id="map-container">
			<div id="map-canvas"></div>
		</div>
		<a class="button" data-slide="4" title=""></a>
	</div><!--End Slide 3-->

	
{% endblock %}