/**************
	FONT
**************/
@font-face {
	font-family: Ubuntu;
	src: url('../fonts/Ubuntu.ttf');
}
@font-face {
	font-family: BlairMdITC TT;
	src: url('../fonts/BlairMdITC TT Medium.ttf');
}
@font-face {
	font-family: Myriad Pro;
	src: url('../fonts/MYRIADPRO-REGULAR.OTF');
}
/********************
HTML BODY ANCHORS INPUTS
*********************/
html,body{ 
    width:100%;     
    height:100%;  
    font-family: Myriad Pro;
}
a {
	text-decoration: none;
	color:#303338;
}
	a: hover{

	}
.input-gray {
	color:#b9b9b9;
}
/***************
	NAV BAR
****************/
.navigation {   
    position:relative;     
    z-index:1;      
    top:20px;
    /*display: inline;*/
	list-style:none;
	float:right;
	text-indent: 10px;
	margin-right: 10px;
} 
	.navigation li {    
	    color:#333333;      
	    display:block;
	    padding: 0 10px;
	    line-height:30px;   
	    margin-bottom:2px; 
	    -webkit-transition: all .2s ease-in-out;
	    width:53px;
	    display: inline;
	}
.navbar{
	height:70px;
	max-height:70px;
}
.navigation ul {
	list-style-type: none;
}
	.navigation li:hover,
	.active {
	    color:#094ab2;
	    cursor:pointer;
	    -webkit-transition: all .2s ease-in-out;    
	}

.landing-logo{
	float:left;
	margin-top:10px;
	margin-left:20px;
	font-family:BlairMdITC TT;
}
	.landing-logo img{
		float:left;
		height: 48px;
		width: 48px;
	}
	.landing-logo h1{
		margin-top: 10px;
		margin-left: 15px;
		float:left;
		font-size: 25px;
		color: #303338;
	}
/********
Slide CSS
*******/
.slide {
    background-attachment: fixed;
    width:100%;
    height:100%;
    position: relative;
    box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);

}
.slideno {
    position:absolute;
    bottom:0px;
    left:0px;
    font-size:100px;
    font-weight:bold;
    color:rgba(255,255,255,0.3);
}
/******************************
	SLIDE 1 
*******************************/
#slide1{
    background:url('../img/frontpage.jpg') 0% 0 no-repeat fixed;
    color: #fff;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    padding: 200px 0 260px 0;
}
#gravheading{
	position: absolute;
	left:5%;
	background-color: black;
	width: 60%;
	height:200px;
    background: rgba(000, 00, 00, 0.5);
    padding-top: 50px;
    padding-left: 50px;
}
#logo{
	font-family:Ubuntu;
	font-size: 30px;
}
#logosub{
	margin-top:1%;
	margin-left:5%;
}
.try img:first-child{
	position: absolute;
	top:300px;
	left: 400px;
}
/******************************
	SLIDE 2 
*******************************/
#slide2{
    background-color:#fff;
    box-shadow: none !important;
}
#tech-content{
	margin:0 auto;
	display:block;
	text-align: center;
	padding-top: 100px;
	font-size: 150%;
}
#techs{
	margin:0 auto;
	margin-top: 30px;
	text-align: center;
}
	/*********************************
		MASONRY CSS
	*********************************/
	.masonry{
		margin: 0 auto;
	}
	.item { 
		margin-top: 20px;
		height:90px;
		float: left;
	}
	.item img{
		max-width: 200px;
		-webkit-filter: grayscale(100%);
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-o-transition-duration: 0.8s;
		-ms-transition-duration: 0.8s;
	}
	.item img:hover{
		max-width: 200px;
		-webkit-filter: grayscale(0%);
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-o-transition-duration: 0.8s;
		-ms-transition-duration: 0.8s;
	}
	.item.w2 {
		width: 50%;
	}
/****************************** 
	SLIDE 3
*******************************/ 
#slide3 {   
    background-color:#2a2a2a;
	padding-top: 100px;
	height:500px;
}
#contact-form{
	float:left;
	background-color: #fff;
	padding:20px 20px 20px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:320px;
	width: 366px;
	max-width: 366px;
	margin-top: 20px;
	position: relative;
	z-index: 3;
	left:100px;
    border: 3px solid rgba(255, 255, 255, .1);
    box-shadow: .1em .1em .2em rgba(0, 0, 0, .2);
}
	#contact-form h2{
		font-size:20px !important;
		color:#000000 !important;
		margin-bottom: 20px;
	}
	.contact-form-items{
		margin-bottom: 10px;
	}
	.contact-form-items input{
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		padding:1px 1px 1px 10px;
	}
	.contact-form-items textarea{
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		border-color: gray;
		padding:10px;
		resize:none;
		height:160px;
		max-height: 160px;
	}
#submit-button{
	margin-top: -8px;
	width:65px;
	max-width: 65px;
	height:20px;
	background-color: #252B31;
}
	#submit-button{
		padding-top: 5px;
		padding-left: 13px;
		color: #ffffff;
	}
#submit-button:hover{
	background-color: #7C7878;
	cursor:pointer;
}
	/****************
	Google maps
	****************/
	#map-container{
		width:100%;
		height:400px;
		position: absolute;
		width: 1280px;
		max-width:1280px;
		z-index: 2;
	}
	#map-canvas {
		height:400px;
		width: 1280px;
		max-width:1280px; 
	}
/******************************
	SLIDE 4 
*******************************/
#slide4{
    /*position:absolute;*/
    font-size:20px;
    margin:0 auto;
}
	#slide4 p{
	    /*position:absolute;*/
	    font-size:15px;
	}
#projects-container{
	padding-top: 40px;
	margin:0 auto;
	text-align: center;
}
#projects-heading{
	text-align: center;
	margin:0 auto;
	padding-top:30px;
}
	#projects-heading h2{
		font-size: 30px;
	}
.project-masonry-item{
	margin-top: 20px;
	border: 2px solid;
	padding: 10px 10px 10px 10px;
	border-radius:10px;
	max-width:150px !important;
	width:150px !important;
	height: 280px;
	max-height: 280px;
}
.project-masonry-item img{
	max-width:150px !important;
	max-height:150px !important;
	border-radius:10px;
}
/***************
	Slide 5
****************/
#slide6{
    background:url('../img/tech.jpg') 0% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    
}
	#slide6-content{
		padding: 200px 200px 0px 200px;
		font-size: 30px;
		margin:0 auto;
		color:white;
		text-align: center;
	}
/******************************
	Footer
*******************************/
.copyright{
	text-align: center;
	margin:0 auto;
	background-color: #000000;
	padding-top: 20px;
	padding-bottom: 20px;
}
	.copyright p{
		color:white;
	}